<!DOCTYPE html>
<html lang="en" ng-app="airplaneFacts">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Airplane  WIKI</title>
    <!-- Bootstrap css and my own css -->
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>   
    <div class="container">
        <div class="page-header">
            <h1>Airplane WIKI </h1>
        </div>
		<!-- Hook on the controller for this view and specify when to show it using ng-hide -->
        <div ng-controller="listCtrl as list" >
        	<!-- top search bar  -->
            <form class="form-inline well well-sm clearfix">
                <span class="glyphicon glyphicon-search"></span>
                <input 
                    type="text" 
                    placeholder="Search..." 
                    class="form-control"
                    ng-model="list.search">
               
            </form>
            <!-- row to contain the list of items -->
            <div class="row">                
                <div class="col-sm-6" ng-repeat="airplaine in list.data | filter:list.search">
                	<!-- using a bootstrap well to style -->
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-6">
                            	<!-- ng-src instead of src to allow correct functionality with angular -->
                                <img ng-src="{{airplaine.image_url}}" 
                                    class="img-rounded img-responsive well-image">
                            </div>
                            <div class="col-md-6">
                            	<!-- ng-src instead of src to allow correct functionality with angular -->
                                <h4>{{airplaine.name}}</h4>
                                <!-- angular data binding -->
                                <p><strong>Manufacture: </strong>{{airplaine.manufacture}}</p>
                                <p><strong>Capacity: </strong>{{airplaine.capacity}}</p>                                
                                <p><strong>First flight: </strong>{{airplaine.dateservice}}</p>

                                <!--  angular data binding -->
                                <!-- ng-click is an angular directive to allow click events within angular -->
                                <button class="btn btn-primary pull-right"
                                    data-toggle="modal"
                                    data-target="#airplaine-info"
                                    ng-click="list.changeActiveAirplaine(airplaine)">Learn More</button>
                            </div>
                        </div><!-- row -->
                    </div><!-- well -->
                </div><!-- col-xs-6 -->
            </div>

			<!-- the markup for the modal -->
            <div class="modal" id="airplaine-info">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        	<!-- more usage of angular data binding -->
                            <h2>{{list.activeAirplaine.name}}</h2>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                	<!-- ng-src used again instead of src -->
                                    <img ng-src="{{list.activeAirplaine.image_url}}" class="img-rounded img-responsive">
                                <!-- angular data binding -->
                                <p><strong>Manufacture: </strong>{{list.activeAirplaine.manufacture}}</p>
                                <p><strong>Capacity: </strong>{{list.activeAirplaine.capacity}}</p>                                
                                <p><strong>First flight: </strong>{{list.activeAirplaine.dateservice}}</p>       
                                <p><strong>Description: </strong>{{list.activeAirplaine.description}}</p>
                                </div>
                            </div>
                            <div class="row top-buffer">
                                <div class="col-md-6">

                                </div>
                                <div class="col-xs-12 top-buffer">
                                    <button class="btn btn-danger pull-right" 
                                        data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- List Controller -->


    <!-- third party js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- application scripts -->
    <script src="js/app.js"></script>
    <script src="js/controllers/list.js"></script>
    <script src="js/factories/dataservice.js"></script>

</body>
</html>
